<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="APP_NAME" value="spring"/>

    <property name="level" value="${logLevel:-info}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %5level %6relative --- [%15thread] [%-40logger{40}] [%C:%L] : [%X{traceId}] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${level}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>